header {
  width: 100%;
}

h1 {
  color: $white-normal;
  font-weight: 400;
  font-size: 15pt;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.header-button {
  border: 1px solid $white-normal;
  padding: 8px 24px;
  border-radius: 4px;
  color: $white-normal;
  background-color: #e5e5e531;
  transition: background-color 0.8s;
}

.header-button:hover {
  border: 1px solid $green-default;
  background-color: $green-default;
  color: $primary_normal;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
}

@media screen and (max-width: 768px) {
  .header-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    i {
      margin-top: 16px;
      font-size: 34px;
    }
  }

  .header-logo img {
    width: 160px;
    margin-top: 46px;
  }

  .header-button {
    display: none;
  }
}